<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiccosamente Borse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Shiccosamente Borse</h1>
        <p>Scopri la nostra collezione unica! Scegli la tua borsa o creala a tuo piacimento :</p>
    </header>
    <main>
        <section class="instagram">
            <div class="container">  
            <h2>Seguici su Instagram!</h2>
            <p> Resta aggiornata sulle ultime novità di stile </p>
            <p><a href="https://www.instagram.com/shiccosamente_borse" target="_blank"> Clicca qui per visitare la nostra pagina!</a></p>
        </section>
        <section class="prodotti">
            <div class="container">
            <h2>Le nostre borse</h2>
            <div class="galleria_prodotti">
                <div class="prodotto">
                <img src="{{ url_for('static', filename='img/evelyn_bag.webp') }}" alt="Borsa 1">
                <p> EVELYN BAG </p>
                <p> H: 22cm L: 32cm </p>
                <p> </p>
            </div>
            <div class="prodotto">
                <img src="{{ url_for('static', filename='img/monica_bag.webp') }}" alt="Borsa 2">
                <p> MONICA BAG </p>
                <p> H: 23cm L: 30cm </p>
                <p> borsa softy, versatile con stile</p>
            </div>
        </div>

        <div class="prodotto">
                <img src="{{ url_for('static', filename='img/giuly_bag.webp') }}" alt="Borsa 3">
                <p> GIULY BAG </p>
                <p> H: 22cm L: 32cm </p>
                <p> elegante da sera </p>
        </div>
        <div class="prodotto">
                <img src="{{ url_for('static', filename='img/silvia_bag_green.webp') }}" alt="Borsa 4">
                <p> SILVIA BAG </p>
                <p> grren version </p>
                <p> H: 21cm L: 28cm </p>
                <p> borsa softy, a mano da cocktail o sera</p>
            </div>
        </div>

        <div class="prodotto">
                <img src="{{ url_for('static', filename='img/silvia_bag.webpwebp') }}" alt="Borsa 5">
                <p> SILVIA BAG </p>
                <p> beige version </p>
                <p> H: 21cm L: 28cm </p>
                <p> borsa softy, a mano da cocktail o sera</p>
            </div>
        </div>

        <div class="prodotto">
                <img src="{{ url_for('static', filename='img/victoria_bag.webp') }}" alt="Borsa 6">
                <p> VICTORIA BAG </p>
                <p> H: 15cm L: 25cm </p>
                <p> borsa clutch, sottobraccio</p>
            </div>
        </div>

        <div class="prodotto">
                <img src="{{ url_for('static', filename='img/martin_bag.webp') }}" alt="Borsa 7">
                <p> MARTIN BAG </p>
                <p> H: 22cm L: 32cm </p>
                <p> borsa tote, informale ma versatile </p>
            </div>
        </div>

        </div> class="prodotto">
                <img src="{{ url_for('static', filename='img/martin_bag.webp') }}" alt="Borsa 7">
                <p> KETTY BAG </p>
                <p> H: 27cm L: 28cm </p>
                <p> traforata, per tempo libero </p>
            </div>
        </div>
        
       </section>
    </main>
    <footer>
        <p>&copy; 2025 Shiccosamente Borse. All rights reserved.</p>
    </footer>
</body>
</html>